
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');


@font-face {
    font-family: 'Rubik';
    src: url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
}

:root {
    --main-bg-color: #F4E6D2;
    --main-fg-color: #171515;
    --transition-duration: 0.3s;
}

html {
    scrollbar-color: var(--main-fg-color) var(--main-bg-color);
}

body {
    background-color: var(--main-bg-color);
    color: var(--main-fg-color);
    font-family: 'Rubik', 'sans-serif';
}

nav,
footer {
    border: 2px solid var(--main-fg-color);
    background-color: var(--main-fg-color);
    color: var(--main-bg-color);
}

nav a,
footer a {
    color: var(--main-bg-color);
}

#pagination {
    background-color: var(--main-bg-color);
    color: var(--main-fg-color);
}
#pagination a {
    color: var(--main-fg-color);
}

main {
    border: 2px solid var(--main-fg-color);
    border-top: none;
    border-bottom: none;
}

img[src*='berrysprite.png'] {
    float: right;
    padding-right: 1rem;
    filter: grayscale(100%);
}

blockquote {
    margin-left: 0;
    padding-left: 1.5rem;
    border-left: 3px solid var(--main-fg-color);
}

code {
    background-color: var(--main-fg-color);
    padding: 0.1rem;
    color: var(--main-bg-color);
}

pre:has(code) {
    background-color: var(--main-fg-color);
}


h1,h2,h3,h4,h5,h6 {
    color: var(--main-fg-color);
}

a {
    color: var(--main-fg-color);
}

a:hover,
a:focus {
    opacity: 50%;
}
a, nav a {
   
    display: inline-block; 
    transition: transform var(--transition-duration) ease;
  }
  
  a:hover, nav a:hover {
    transform: translateY(-1.5px);
    filter: brightness(0.6);
  }

ul li ul,
ol li ul {
    list-style-type: square;
}

ul li ul li::marker,
ol li ul li::marker {
    color: var(--main-fg-color);
}

.lastupdate::after {
    content: " 🍄 "
}


/* Links */

  
  